name: ci

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.9, pypy3]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        make develop
    - name: Unit tests
      run: |
        make test
    - name: Custon stuff
      run: |
        echo 'run some custom stuff.'
        echo 'we can do whatever we want'
        echo 'we have control of the system'
